.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #1d2024;
  padding: 0 10%;
  width: 100%;
  margin-top: 3rem;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 10px,
    red 0 -18px 20px, 0px 0px 5px 6px rgba(255, 255, 255, 0);
  box-shadow: var(--box-shadow);
  font-size: 15px;
}

.owner {
  color: #fff;
  text-shadow: 2px 2px 16px #0c06ff, 2px 2px 18px #0c06ff;
  font-weight: 600;
  font-size: 15px;
}

.fix {
  position: fixed;
  bottom: 0;
  left: 0;
}
.social-icons svg {
  margin: 1.2rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.social-icons svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

.copyrights {
  font-size: 13px;
}
@media screen and (max-width: 770px) {
  .copyrights {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icons svg {
    width: 25px;
    height: 25px;
  }
}
